.App {
  text-align: center;
}
input {
  width: 40vw;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  border-color: steelblue;
  outline: steelblue;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 200px;
  height: 35px;
  font-size: 20px;
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.result {
  text-shadow: 10px 10px 12px grey;
}
.font {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  input {
    width: 60vw;
  }
  .result {
    font-size: 2rem;
  }
}
